.benefits {
  margin-bottom: 150px;
  @media (max-width: 991.98px) {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__decor {
    min-width: 307px;
    margin-right: 30px;
    @media (max-width: 1199.98px) {
      display: none;
    }
  }

  &__content {
    width: 100%;
  }

  &__head {
    margin-bottom: 70px;
    @media (max-width: 991.98px) {
      display: flex;
      justify-content: center;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 64px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 64px 32px;
    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 767.98px) {
      gap: 32px;
    }
  }

  &__item {
    display: flex;
    grid-column: 4 span;
    grid-row: 1 span;
    @media (max-width: 991.98px) {
      max-width: 455px;
      margin: 0 auto;
    }
    &-img {
      min-width: 64px;
      max-width: 64px;
      min-height: 64px;
      max-height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }
    &-inner {
    }
    &-head {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: var(--red-color);
      margin-bottom: 8px;
    }
    &-text {
      p {
        line-height: 20px;
        @include mb(15px);
      }
    }
  }
}
