.contact {
  @include bg-cover;
  background-image: url('../img/contact-bg.jpg');
  // min-height: 1450px;
  padding-top: calc(230px + 240px);
  padding-bottom: 350px;
  @media (max-width: 2480px) {
    padding-top: calc(230px + 220px);
  }
  @media (max-width: 1920px) {
    padding-top: calc(230px + 185px);
    background-image: url('../img/contact-bg-1920.jpg');
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 2480px) {
      height: 220px;
    }
    @media (max-width: 1920px) {
      height: 185px;
    }
  }
  &:before {
    top: 0;
    background-image: url('../img/contact-bg-top.webp');
    @media (max-width: 1920px) {
      background-image: url('../img/contact-bg-top-1920.webp');
    }
  }
  &:after {
    bottom: 0;
    background-image: url('../img/contact-bg-bottom.webp');
    @media (max-width: 1920px) {
      background-image: url('../img/contact-bg-bottom-1920.webp');
    }
  }

  &__container {
    max-width: 880px;
    height: 500px;
  }

  &__head {
    margin-bottom: 60px;
    .h2 {
      color: #fff;
      .image {
        position: relative;
        top: 12px;
      }
    }
    .h-sub {
      padding-left: calc(56px + 15px);
      line-height: 20px;
      margin-top: -7px;
      color: #fff;
    }
  }

  &__content {
  }

  &__form {
    padding-right: 90px;
    .form-label {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      position: relative;
      position: relative;
      @include mb(30px);
      span {
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        width: 50%;
        text-align: right;
        padding-right: 15px;
      }
      input {
        width: 50%;
      }
    }

    .form-btn {
      width: 50%;
      margin-left: auto;
    }
  }
}

.input {
  height: 32px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  width: 50%;
  // transition: all .25s ease-in-out;
  &.just-validate-error-field {
    border-bottom: 1px solid var(--red-color);
  }
}

.just-validate-error-label {
  color: var(--red-color) !important;
  position: absolute;
  bottom: -20px;
  width: 50%;
  right: 0;
  font-size: 14px;
  font-weight: 600;
}

