.header {
  &__inner {
    background-color: var(--blue-color);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 16px 0;
    height: 104px;
    position: relative;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 100px;
  }
}

