#mobmenu {
  z-index: 999;
  .mm-panels {
    box-shadow: 0px 13px 33px -5px rgb(0 0 0 / 13%);
  }
  .mm-navbar {
    background-color: var(--blue-color);
    min-height: 80px;
    position: relative;
    // top: -76px;
    .mm-btn--prev:before {
      border-color: #fff;
    }
  }

  .mm-btn--close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 80px;
    &:before {
      display: none;
    }
   }

  .mm-navbars--top {
    border: none;
    right: 0;
    top: 0;
    .mm-navbar {
      // padding: 0;
      // position: unset;
      // min-height: 0;
      background-color: red;
      max-width: 50px;
      max-height: 50px;
      min-height: 50px;
      margin-left: auto;
    }
    // .mm-btn--close {
    //   // position: fixed;
    //   // top: 40px;
    //   // right: 0;
    //   // z-index: 6;
    //   margin-left: auto;
    //   max-width: 50px;
    //   min-height: 50px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   &:before {
    //     display: none;
    //   }
    //  }
  }
  .mm-navbar__title {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    .span-logo {
      margin-right: 15px;
    }
  }
  .mm-btn--close {
    // position: absolute;
    // right: 0;
    // padding: 20px;
    // top: 50%;
    // transform: translateY(-50%);c
  }

  .mm-btn--next:after,
  .mm-btn--prev:before {
    border-color: var(--blue-color);
  }

  .mm-listitem {
    border-color: lighten(#46587A, 25%)
  }
  .mm-listitem__text {
    font-weight: 500;
    font-size: 18px;
  }

  .mm-panel:after {
    display: none;
  }
}

.mm-wrapper__blocker {
  background-color: rgba(70, 88, 122, 0.7);
}

.burger-btn {
  overflow: visible;
  cursor: pointer;
  fill: #fff;
  display: none;
  min-width: 16px;
  min-height: 16px;
  z-index: 5;

  &--1,
  &--2,
  &--3 {
    transition: 0.2s;
    transform-origin: center center;
  }

  &.active {
    .burger-btn--1 {
      transform: translate(-7px, 7px) rotate(45deg);
    }
    .burger-btn--2 {
      transform: translateX(20px);
      opacity: 0;
    }
    .burger-btn--3 {
      transform: translate(-7px, -7px) rotate(-45deg);
    }
  }

  &--inMmenu {
    display: block;
  }

  @media (max-width: 991.99px) {
    display: block;
  }
}
