.breadcrumbs-wrap {
}

.breadcrumbs {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 13px;
  li {
    font-size: 16px;
    + li {
      &:before {
        content: '/\00a0';
        padding: 0 10px;
        color: #8296a5;
        position: relative;
        left: 2px;
        font-weight: 700;
      }
    }
    a {
      text-transform: lowercase;
      color: #333;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
