<section class="benefits">
  <div class="container benefits__container">

    <div class="benefits__decor">
      <picture>
        <source srcset="/img/benefits.webp" type="image/webp">
        <img loading="lazy" src="/img/benefits.png" class="image" width="307" height="310" alt="Cametet">
      </picture>
    </div>

    <div class="benefits__content">
      <div class="benefits__head">
        <h2 class="h2">
          <img loading="lazy" src="/img/logo-solo.svg" class="image" width="56" height="56" alt="Cemetet">
          <span>ЧОМУ ОБИРАЮТЬ CAMETET</span>
        </h2>
      </div>
      <div class="benefits__list">
        <!-- start item -->
        <div class="benefits__item">
          <div class="benefits__item-img">
            <img loading="lazy" src="/img/benefits-ico-1.svg" class="image" width="41" height="38" alt="Cametet">
          </div>
          <div class="benefits__item-inner">
            <div class="benefits__item-head">Якість</div>
            <div class="benefits__item-text">
              <p>Кожна деталь проходить подвійний контроль якості, а також періодичні та
                ресурсні випробування.</p>
            </div>
          </div>
        </div>
        <!-- start item -->
        <div class="benefits__item">
          <div class="benefits__item-img">
            <img loading="lazy" src="/img/benefits-ico-2.svg" class="image" width="41" height="41" alt="Cametet">
          </div>
          <div class="benefits__item-inner">
            <div class="benefits__item-head">Виробництво</div>
            <div class="benefits__item-text">
              <p>Заводи-виробники автокомпонентів Cametet™ застосовують міжнародну систему
                менеджменту якості.</p>
            </div>
          </div>
        </div>
        <!-- start item -->
        <div class="benefits__item">
          <div class="benefits__item-img">
            <img loading="lazy" src="/img/benefits-ico-3.svg" class="image" width="33" height="41" alt="Cametet">
          </div>
          <div class="benefits__item-inner">
            <div class="benefits__item-head">Гарантія</div>
            <div class="benefits__item-text">
              <p>Ми повністю впевнені в бездоганній якості нашої продукції і надаємо
                ексклюзивну дворічну гарантію на кожну деталь, що випускається під торговою маркою Cametet™.</p>
            </div>
          </div>
        </div>
        <!-- start item -->
        <div class="benefits__item">
          <div class="benefits__item-img">
            <img loading="lazy" src="/img/benefits-ico-5.svg" class="image" width="32" height="41" alt="Cametet">
          </div>
          <div class="benefits__item-inner">
            <div class="benefits__item-head">Акції</div>
            <div class="benefits__item-text">
              <p>Щомісячні акції спеціальні пропозиції дозволяють нашим клієнтам відчутно економити, а також отримувати
                приємні бонуси і подарунки.</p>
            </div>
          </div>
        </div>
        <!-- start item -->
        <div class="benefits__item">
          <div class="benefits__item-img">
            <img loading="lazy" src="/img/benefits-ico-4.svg" class="image" width="41" height="41" alt="Cametet">
          </div>
          <div class="benefits__item-inner">
            <div class="benefits__item-head">Новинки</div>
            <div class="benefits__item-text">
              <p>Cametet™ регулярно розширює номенклатуру і нарощує обсяги випуску виробів.</p>
              <p>Ми пропонуємо тільки високоліквідні автокомпоненти, що гарантує високий попит і хорошу оборотність.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
