<section class="brand">

    <!-- Slider main container -->
    <div class="swiper brand__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- start slide -->
        <div class="swiper-slide brand__swiper-slide">
          <div class="brand__swiper-img">
            <picture>
              <source srcset="/img/brand-1.webp" type="image/webp">
              <img loading="lazy" src="/img/brand-1.png" class="image" alt="Cametet">
            </picture>
          </div>
        </div>
        <!-- start slide -->
        <div class="swiper-slide brand__swiper-slide">
          <div class="brand__swiper-img">
            <picture>
              <source srcset="/img/brand-2.webp" type="image/webp">
              <img loading="lazy" src="/img/brand-1.png" class="image" alt="Cametet">
            </picture>
          </div>
        </div>
        <!-- start slide -->
        <div class="swiper-slide brand__swiper-slide">
          <div class="brand__swiper-img">
            <picture>
              <source srcset="/img/brand-3.webp" type="image/webp">
              <img loading="lazy" src="/img/brand-1.png" class="image" alt="Cametet">
            </picture>
          </div>
        </div>
        <!-- start slide -->
        <div class="swiper-slide brand__swiper-slide">
          <div class="brand__swiper-img">
            <picture>
              <source srcset="/img/brand-4.webp" type="image/webp">
              <img loading="lazy" src="/img/brand-1.png" class="image" alt="Cametet">
            </picture>
          </div>
        </div>
        <!-- start slide -->
        <div class="swiper-slide brand__swiper-slide">
          <div class="brand__swiper-img">
            <picture>
              <source srcset="/img/brand-5.webp" type="image/webp">
              <img loading="lazy" src="/img/brand-1.png" class="image" alt="Cametet">
            </picture>
          </div>
        </div>
        <!-- start slide -->
        <div class="swiper-slide brand__swiper-slide">
          <div class="brand__swiper-img">
            <picture>
              <source srcset="/img/brand-6.webp" type="image/webp">
              <img loading="lazy" src="/img/brand-1.png" class="image" alt="Cametet">
            </picture>
          </div>
        </div>
        <!-- start slide -->
        <div class="swiper-slide brand__swiper-slide">
          <div class="brand__swiper-img">
            <picture>
              <source srcset="/img/brand-7.webp" type="image/webp">
              <img loading="lazy" src="/img/brand-1.png" class="image" alt="Cametet">
            </picture>
          </div>
        </div>
      </div>

    </div>

</section>
