<section class="brands-catalog">
  <div class="container">
    <div class="brands-catalog__inner  animated faster fadeInDown">
      <!-- start item -->
      <a href="/catalog-2.html" class="brands-catalog__item">
        <div class="brands-catalog__item-img">
          <picture>
            <source srcset="/img/cat-brand-1.webp" type="image/webp">
            <img loading="lazy" src="/img/cat-brand-1.jpg" class="image" width="262" height="214" alt="Cametet">
          </picture>
        </div>
        <div class="brands-catalog__item-name"><span>Combine</span>
          <svg class="name-icon">
            <use xlink:href="img/sprite.svg#angle-down"></use>
          </svg>
        </div>
      </a>
      <!-- start item -->
      <a href="/catalog-2.html" class="brands-catalog__item">
        <div class="brands-catalog__item-img">
          <picture>
            <source srcset="/img/cat-brand-2.webp" type="image/webp">
            <img loading="lazy" src="/img/cat-brand-2.jpg" class="image" width="262" height="214" alt="Cametet">
          </picture>
        </div>
        <div class="brands-catalog__item-name"><span>Tractor</span>
          <svg class="name-icon">
            <use xlink:href="img/sprite.svg#angle-down"></use>
          </svg>
        </div>
      </a>
      <!-- start item -->
      <a href="/catalog-2.html" class="brands-catalog__item">
        <div class="brands-catalog__item-img">
          <picture>
            <source srcset="/img/cat-brand-1.webp" type="image/webp">
            <img loading="lazy" src="/img/cat-brand-1.jpg" class="image" width="262" height="214" alt="Cametet">
          </picture>
        </div>
        <div class="brands-catalog__item-name"><span>Combine</span>
          <svg class="name-icon">
            <use xlink:href="img/sprite.svg#angle-down"></use>
          </svg>
        </div>
      </a>
      <!-- start item -->
      <a href="/catalog-2.html" class="brands-catalog__item">
        <div class="brands-catalog__item-img">
          <picture>
            <source srcset="/img/cat-brand-2.webp" type="image/webp">
            <img loading="lazy" src="/img/cat-brand-2.jpg" class="image" width="262" height="214" alt="Cametet">
          </picture>
        </div>
        <div class="brands-catalog__item-name"><span>Tractor</span>
          <svg class="name-icon">
            <use xlink:href="img/sprite.svg#angle-down"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
