<div class="container breadcrumbs__container animated faster fadeIn">
  <ul class="list-reset breadcrumbs" id="breadcrumbs">
    <li class="bread-home">
      <a href="/"><img loading="lazy" src="/img/icon-home.svg" class="image" width="24" height="25" alt="Home"><span>Main</span></a>
      <span class="bread-home__btn">
        <img loading="lazy" src="/img/angle-down.svg" class="b-icon bread-home__btn--open" width="12" height="8" alt="X">
        <img loading="lazy" src="/img/icon-close.svg" class="b-icon bread-home__btn--close" width="12" height="12" alt="X">
      </span>
    </li>
    <li class="animated faster"><a href="/catalog-1.html">Brands</a></li>
    <li class="animated faster"><a href="/catalog-2.html">Catalog</a></li>
    <li class="animated faster"><a href="/product-card.html">Product</a></li>
  </ul>
</div>
