<section class="product-card">
  <div class="container product-card__container">
    <div class="product-card__inner animated faster fadeInDown">

      <div class="product-card__slider">
        <div class="product-card__slider-head">
          <h1 class="h2">(2HC - 4060) - Multi-wedge belt 0227353</h1>
          <div class="subh">
            <span>H174885, 0227353</span>
            <span>AD-148753</span>
          </div>
        </div>
        <div class="swiper product-card__swiper">
          <div class="swiper-wrapper">
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-1.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-1.png" class="image" width="400" height="400" alt="Cametet">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-2.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-2.jpg" class="image" width="400" height="400" alt="Cametet">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-3.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-3.jpg" class="image" width="400" height="400" alt="Cametet">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-4.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-4.jpg" class="image" width="400" height="400" alt="Cametet">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-5.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-5.jpg" class="image" width="400" height="400" alt="Cametet">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-6.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-6.jpg" class="image" width="400" height="400" alt="Cametet">
              </picture>
            </div>
          </div>
        </div>

        <div thumbsSlider class="swiper product-card__swiperThumbs">
          <div class="swiper-wrapper">
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-1.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-1.png" class="image" width="" height="" alt="">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-2.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-2.jpg" class="image" width="" height="" alt="">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-3.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-3.jpg" class="image" width="" height="" alt="">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-4.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-4.jpg" class="image" width="" height="" alt="">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-5.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-5.jpg" class="image" width="" height="" alt="">
              </picture>
            </div>
            <!-- start item -->
            <div class="swiper-slide">
              <picture>
                <source srcset="/img/img-card-6.webp" type="image/webp">
                <img loading="lazy" src="/img/img-card-6.jpg" class="image" width="" height="" alt="">
              </picture>
            </div>
          </div>
        </div>

        <div class="product-card__warning">Фото може відрізнятись від фактичного виду товару</div>

      </div>


      <div class="product-card__content">
        <div class="product-card__content-head">
          <h1 class="h2">(2HC - 4060) - Multi-wedge belt 0227353</h1>
          <div class="subh">
            <span>H174885, 0227353</span>
            <span>AD-148753</span>
          </div>
        </div>
        <ul class="list-reset feature-list">
          <li><strong>Виробник: </strong>Gates</li>
          <li><strong>Країна походження: </strong>США</li>
          <li><strong>Позначення виробника: </strong>0227353</li>
        </ul>
        <ul class="list-reset feature-list">
          <li><strong>Позначення згідно стандартів: </strong>
            <ul class="list-reset">
              <li>2HC 4060 (ISO5291, BS3790);</li>
              <li>2HC157 (RMA/MPTA IP-22);</li>
              <li>2RHC160 (ASAE S211.4, позначення в дюймах);</li>
              <li>2R22F4064 (ASAE 211.4, позначення в міліметрах).</li>
            </ul>
          </li>
        </ul>
        <div class="btns">
          <button id="btnQuestion" class="btn-reset btn wiggle-anime" data-graph-path="contactModal"
            data-graph-animation="fadeInUp">
            <img loading="lazy" src="/img/icon-mail.svg" class="image mr-8" width="21" height="16" alt="Cametet">
            <span>Задати питання</span>
          </button>
          <button id="btnCallback" class="btn-reset btn snake-anime" data-graph-path="contactModal"
            data-graph-animation="fadeInUp">
            <img loading="lazy" src="/img/icon-phone.svg" class="image mr-8" width="25" height="24" alt="Cametet">
            <span>Замовити дзвінок</span>
          </button>
          </a>
          <button class="btn-reset btn blue-bg pulse-anime">
            <img loading="lazy" src="/img/icon-cart.svg" class="image mr-8" width="25" height="24" alt="Cametet">
            <span>Buy</span>
          </button>
        </div>
        <div class="descr">
          <strong>Будова:</strong>
          <p>2 ремені(ів) класичного профілю HC об'єднані за допомогою тонкої гумово-тканинної пластини у єдиний
            багатоклиновий ремінь методом спільної вулканізації.</p>
        </div>
        <div class="descr">
          <strong>Особливості:</strong>
          <p>Виконання GATES AGRI.Високоякісні брендові ремені розроблені з урахуванням специфічних вимог аграрного
            сектору економіки.</p>
        </div>
      </div>

</section>
