<section class="contact">
  <div class="container contact__container">

    <div class="contact__head">
      <h2 class="h2">
        <img loading="lazy" src="/img/logo-solo.svg" class="image" width="56" height="56" alt="Cemetet">
        <span>ЗАДАЙТЕ ПИТАННЯ</span>
      </h2>
      <div class="h-sub">Ми постараємося відповісти максимально швидко</div>
    </div>

    <div class="contact__content">
      <form action="" method="POST" class="contact__form" id="contact__form">

        <label class="form-label">
          <span>ім’я+прізвище</span>
          <input class="input-reset input input-name" type="text" name="name" placeholder="...">
        </label>
        <label class="form-label">
          <span>Введите email</span>
          <input class="input-reset input input-email" type="email" name="email" placeholder="...">
        </label>
        <label class="form-label">
          <span>компанія</span>
          <input class="input-reset input input-company" type="text" name="company" placeholder="...">
        </label>
        <label class="form-label">
          <span>ваше питання</span>
          <textarea class="input-reset input input-message" type="text" name="message" placeholder="..."></textarea>
        </label>

        <div class="form-btn">
          <button class="btn-reset btn" type="submit">Надіслати
            <img loading="lazy" src="/img/ico-send.svg" class="image" width="24" height="24" alt="Cametet">
          </button>
        </div>

      </form>
    </div>

  </div>
</section>
