<footer class="footer animated faster fadeIn">
  <div class="container footer__container">

    <div class="footer__box">
      <img loading="lazy" src="/img/logo-dark.svg" class="image" width="213" height="57" alt="Cametet">
      <div class="copyright">© Cametet™ <span id="year"></span></div>
    </div>

    <div class="footer__scrollup">
      <a href="#header" class="pageup scrolling">
        <img loading="lazy" src="/img/icon-up.svg" class="image" width="24" height="25" alt="UP">
        <span>ВГОРУ</span>
      </a>
    </div>

  </div>
</footer>

@include('mobile-menu.html')
