<header class="header animated faster fadeIn" id="header">
  <div class="header__inner">
    <div class="container">
      <div class="header__top">

        <div class="header__box">
          <a href="/" class="header__logo">
            <img loading="lazy" src="/img/logo.svg" class="image" width="213" height="56" alt="Cametet">
          </a>

          <nav class="nav main-nav">
            <ul class="nav__list list-reset sf-menu sf-arrows">
              <li class="nav__item">
                <a href="/catalog-1.html" class="nav__link">Brands</a>
                <ul class="sub-menu">
                  <li><a href="#">Case</a></li>
                  <li><a href="#">Claas</a>
                    <ul class="sub-menu">
                      <li><a href="#">Combine</a></li>
                      <li><a href="#">Tractor</a>
                        <ul class="sub-menu">
                          <li><a href="#">Case Magnum 300 Series</a></li>
                          <li><a href="#">Case Magnum 200 Series</a></li>
                          <li><a href="#">Case Magnum 400 Series</a></li>
                          <li><a href="#">Case Magnum 500 Series</a></li>
                          <li><a href="#">Case Magnum 600 Series</a></li>
                          <li><a href="#">Case Magnum 700 Series</a></li>
                          <li><a href="#">Case Magnum 800 Series</a></li>
                          <li><a href="#">Case Magnum 900 Series</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">John Deere</a></li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Machine type</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header__box">
          <div class="search-box ">
            <button class="btn-search" id="btn-search">
              <img loading="lazy" src="/img/search.svg" class="search-icon" width="72" height="72" alt="Search">
              <div class="search-close"></div>
            </button>
            <div class="input-search-wrap">
              <input type="text" class="input-search input-reset" placeholder="Type to Search...">
            </div>
            <div class="search-result">
              <a href="#item" class="search-item">
                <div class="search-item__img">
                  <picture>
                    <source srcset="/img/search-result.webp" type="image/webp">
                    <img loading="lazy" src="/img/search-result.png" class="image" width="64" height="64" alt="Cametet">
                  </picture>
                </div>
                <div class="search-item__text">
                  <strong>(2HC - 4060) - Multi-wedge belt 0227353</strong>
                  <p>H174885, 0227353 <span>AD-148753</span></p>
                </div>
              </a>
              <a href="#item" class="search-item">
                <div class="search-item__img">
                  <picture>
                    <source srcset="/img/search-result.webp" type="image/webp">
                    <img loading="lazy" src="/img/search-result.png" class="image" width="64" height="64" alt="Cametet">
                  </picture>
                </div>
                <div class="search-item__text">
                  <strong>(2HC - 4060) - Multi-wedge belt 0227353</strong>
                  <p>H174885, 0227353 <span>AD-148753</span></p>
                </div>
              </a>
              <a href="#item" class="search-item">
                <div class="search-item__img">
                  <picture>
                    <source srcset="/img/search-result.webp" type="image/webp">
                    <img loading="lazy" src="/img/search-result.png" class="image" width="64" height="64" alt="Cametet">
                  </picture>
                </div>
                <div class="search-item__text">
                  <strong>(2HC - 4060) - Multi-wedge belt 0227353</strong>
                  <p>H174885, 0227353 <span>AD-148753</span></p>
                </div>
              </a>
              <a href="#item" class="search-item">
                <div class="search-item__img">
                  <picture>
                    <source srcset="/img/search-result.webp" type="image/webp">
                    <img loading="lazy" src="/img/search-result.png" class="image" width="64" height="64" alt="Cametet">
                  </picture>
                </div>
                <div class="search-item__text">
                  <strong>(2HC - 4060) - Multi-wedge belt 0227353</strong>
                  <p>H174885, 0227353 <span>AD-148753</span></p>
                </div>
              </a>
            </div>
          </div>

          <div class="dropdown" id="langSwitcher">
            <div class="selected">
              <span>Ua</span>
              <svg class="selected-icon">
                <use xlink:href="img/sprite.svg#angle-down"></use>
              </svg>
            </div>
            <ul class="dropdown-list">
              <li><a href="#ua">UA</a></li>
              <li><a href="#pl">PL</a></li>
              <li><a href="#en">EN</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="brands">
    <a href="/catalog-1.html" class="brands-link active">CI<span>Case</span></a>
    <a href="#brand" class="brands-link">CC<span>Claas</span></a>
    <a href="#brand" class="brands-link">DB<span>David Brown</span></a>
    <a href="#brand" class="brands-link">DZ<span>Deutz</span></a>
    <a href="#brand" class="brands-link">FE<span>Fendt</span></a>
    <a href="#brand" class="brands-link">FD<span>Ford New</span></a>
    <a href="#brand" class="brands-link">FT<span>Fiat</span></a>
    <a href="#brand" class="brands-link">JD<span>John Deere</span></a>
  </div>

</header>
