<section class="hero">
  <div class="container">

    <!-- Slider main container -->
    <div class="swiper hero__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- start slide -->
        <div class="swiper-slide hero__slide">
          <div class="hero__slide-inner" style="background-image: url('/../img/slide-1.jpg');">
            <div class="hero__slide-content">
              <div class="hero__slide-box">
                <picture>
                  <img loading="lazy" src="/img/slide-1-d.png" class="image" width="300" height="300" alt="Cametet">
                </picture>
                <div class="text">
                  <div class="text__head">Agricutural & Tractor Parts</div>
                  <div class="text__p">Short motors, filters, service kit & much more...</div>
                </div>
              </div>
            </div>
          </div>
          @include('i-heroUltimate.html')
        </div>
        <!-- start slide -->
        <div class="swiper-slide hero__slide">
          <div class="hero__slide-inner" style="background-image: url('/../img/slide-3.jpg');">
            <div class="hero__slide-content">
              <div class="hero__slide-box">
                <picture>
                  <img loading="lazy" src="/img/slide-1-d.png" class="image" width="300" height="300" alt="Cametet">
                </picture>
                <div class="text">
                  <div class="text__head">Beautifully</div>
                  <div class="text__p">Short motors, filters, service kit & much more...</div>
                </div>
              </div>
            </div>
          </div>
          @include('i-heroUltimate.html')
        </div>
        <!-- start slide -->
        <div class="swiper-slide hero__slide">
          <div class="hero__slide-inner" style="background-image: url('/../img/slide-2.jpg');">
            <div class="hero__slide-content">
              <div class="hero__slide-box">
                <picture>
                  <img loading="lazy" src="/img/slide-1-d.png" class="image" width="300" height="300" alt="Cametet">
                </picture>
                <div class="text">
                  <div class="text__head">Nice</div>
                  <div class="text__p">Short motors, filters, service kit & much more...</div>
                </div>
              </div>
            </div>
          </div>
          @include('i-heroUltimate.html')
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

    </div>

  </div>
</section>
