<nav id="mobmenu">
  <ul class="nav__list list-reset">
    <li class="nav__item">
      <a href="/catalog-1.html" class="nav__link">Brands</a>
      <ul class="sub-menu">
        <li><a href="#">Case</a></li>
        <li><a href="#">Claas</a>
          <ul class="sub-menu">
            <li><a href="#">Combine</a></li>
            <li><a href="#">Tractor</a>
              <ul class="sub-menu">
                <li><a href="#">Case Magnum 300 Series</a></li>
                <li><a href="#">Case Magnum 200 Series</a></li>
                <li><a href="#">Case Magnum 400 Series</a></li>
                <li><a href="#">Case Magnum 500 Series</a></li>
                <li><a href="#">Case Magnum 600 Series</a></li>
                <li><a href="#">Case Magnum 700 Series</a></li>
                <li><a href="#">Case Magnum 800 Series</a></li>
                <li><a href="#">Case Magnum 900 Series</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">John Deere</a></li>
      </ul>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Machine type</a>
    </li>
  </ul>
</nav>
