<section class="products-catalog">
  <div class="container">
    <div class="products-catalog__inner">
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>

      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>

      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>

      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
      <!-- start item -->
      <a href="/product-card.html" class="products-catalog__item animated faster fadeInDown">
        <div class="products-catalog__item-head">
          <h3>(2HC - 4060) - Multi-wedge belt 0227353</h3>
        </div>
        <div class="products-catalog__item-info">
          <span>H174885, 0227353</span>
          <span>AD-148753</span>
        </div>
        <div class="products-catalog__item-img">
          <picture>
            <source srcset="/img/product-1.webp" type="image/webp">
            <img loading="lazy" src="/img/product-1.png" class="image" alt="Cametet">
          </picture>
        </div>
        <div class="products-catalog__item-brand">John Deere, New Holland</div>
      </a>
    </div>

    <div class="products-catalog__btn">
      <div class="btn showMore" id="more-products">
        <img loading="lazy" src="/img/icon-refresh.svg" class="image mr-8" width="25" height="24" alt="Cametet">
        <span>Show more</span>
      </div>
    </div>
  </div>
</section>
