html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  color: #333;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent !important;
  outline: none !important;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::placeholder {
    color: #fff;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #46587a;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(#46587a, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(#46587a, 0.2) 50%,
    rgba(#46587a, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 0;
  span {
    padding-left: 15px;
  }
}

section {
  position: relative;
}

.main {
  padding-top: 50px;
  background-image: url('../img/main-bg.svg');
  background-repeat: no-repeat;
  background-position: 0 -10%;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -30%;
    left: 0;
    // width: 2720px;
    // height: 2234px;
    width: 100%;
    height: 200%;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url('../img/bg.webp');
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(#46587a, 0.7);
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
  }
}

.page__body {
  &.openSearchResult {
    .main {
      &:after {
        z-index: 5;
        opacity: 1;
        height: 100%;
      }
    }
  }
}
